#main-container{
	max-width: 900px;
	float:none;
	margin:0 auto;
  /*
  nav fixed top hack
  http://stackoverflow.com/questions/10336194/twitter-bootstrap-top-nav-bar-blocking-top-content-of-the-page
  */
  padding-top: 60px; 
}
